.type_one_image {
width: 33%;
}

.type_two_image {
width: 20%;
}

.type_three_image {
width:14%;
}

.type_four_image {
width:11%;
}

.type_five_image {
width:17%;
}

.type_six_image {
width:12%
}

.type_seven_image {
width:10%;
}

.type_eight_image {
width:50%;
}