<sly data-sly-list.multifield="${resource.listChildren}">
    <sly data-sly-test="${multifield.name == 'products'}">
        <div class="filewrapper">
            <section class="blade download-center-details">
                <div class="container">
                    <div class="row">
                        <div>
                            <sly data-sly-list.head="${multifield.listChildren}">
                                <section class="description description-blade collapsible noindex" data-sly-attribute.id=${head.iD}>
                                    <header>
                                        <h3><a href="${head.linkPage}"> ${head.product}</a></h3>
                                    </header>
                                    <div>
                                        <div class="content-media">
                                            <figure class="blade-image">
                                                <img src="${head.pathbr}" class="center"/>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="descipt">
                                        <p>
                                            ${head.desc}
                                        </p>
                                    </div>
                                </section>
                                <div><br><br></div>
                            </sly>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </sly>
</sly>